
body {
	margin: auto;
	padding: 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana;
}

#container {
	margin: auto;
	padding: 15px;
	width: 200px;
}

#board {
	margin: auto;
	width: 200px;
}

.cell {
	float: left;
	width: 60px;
	height: 60px;
	text-align: center;
	border: 1px solid #000;
}

.break {
	clear: both;
}

#success {
	float:left;
	clear: both;
	margin-top:20px;
	font-size: 14px;
	font-weight: bold;
}
